body {background-color: #778899;}

h1  {color: #3CB371;}

p   {color: #F5F5F5;}

#wrapper {
    width: 100%;
    float: left;
    clear: left;
/*  margin-top: 50px; */
    }
    
    .block {
    width: auto;
    align-content: center;
    display: inline-block;
    }
    
    #dht22 {
    width: 100%;
    float: left;
    clear: left;
/*  margin-top: 50px; */
    }
    
    .gauge {
         width: auto;
         height: 300px;
         display: inline-block;
         border: 1px solid #ccc;
         margin: 5px;
     }

.button {
  background-color: #87CEFA;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

